<div id="app">
    <!-- last visit time -->
    <hr class="grey">
    <div id="history">
        <h2>上次访问</h2>
        <p>timestamp @
            <span>site url</span>
            <!--  TODO implement this hyperlink to site-->
        </p>
    </div>
    <div id="operations">
        <button>不感兴趣</button>
        <button>需要HD资源</button>
    </div>
    <hr class="grey">

    <!-- preview images -->
    <div id="imgs">
        <h2>预览图</h2>
        <div v-if="imgs" @keyup.right="nextImg" @keyup.left="previousImg">
            <img v-for="img in imgs" @click="showThisImg(img)" :src="img.thumb" :title="img.title">
            <div class="fullpicture" v-if="curImg.show">
                <button @click="previousImg" :disabled="curImg.index == 0">上一张</button>
                <img :src="imgs[curImg.index].full" @click="curImg.show = false">
                <button @click="nextImg" :disabled="curImg.index == this.imgs.length - 1">下一张</button>
            </div>
        </div>
        <div v-else>
            <p>no preview</p>
            <button @click="getPreview">fetch again from javbus</button>
        </div>
    </div>
    <hr class="grey">
</div>