<div id="app">
    <!-- last visit time -->
    <hr class="grey">
    <div class="header">{{ info.id }}的信息</div>
    <hr class="grey">    
    <div id="last">
        <p>上次访问这个页面的时间： {{ getLastVisit }}</p>
    </div>
    <hr class="grey">
    <!-- download links -->
    <div class="header">下载链接（from btsow）</div>
    <div id="download">
        <table>
            <thead>
                <tr>
                    <th>名称</th>
                    <th>大小</th>
                    <th>日期</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in download">
                    <td>
                        <a target=_blank v-bind:href="item.link">{{ item.title }}</a>
                    </td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="grey">
    <!-- preview -->
    <div class="header">{{ info.id }}的预览图（from javbus）</div>
    <div id="preview">
        <a target=_blank v-for="item in preview" :href="item.full" v-on:click.prevent="showThisImg(item)">
            <img :src="item.thumb" :title="item.title">
        </a>
    </div>
    <div v-if="showImg" v-on:click="closeImg">
        <img :src="curImg.full">
    </div>
    <hr class="grey">
</div>